<!DOCTYPE html>

<html lang="en">

<head>
    <%~ include('src/_partials/headMeta.html') %>
    <script src="product.js" defer="defer"></script>
    <link href="product.css" rel="stylesheet" />
    <title>Robox Store</title>
    <meta name="description" content="">
    <script>
        const images = <%~ JSON.stringify(images) %>;
        const currentProduct = <%~ JSON.stringify(product) %>;
        
    </script>
</head>

<body>
    <%~ include('src/_partials/nav.html') %>
    <div id="main-content " class="content">
        <div id="starter-info">
            <ul id="image-carousel">
                <% images.forEach(function(image, index){ %>
                    <li class="carousel-image" >
                        <img loading="<%= index > 6 ? 'lazy' : 'eager'  %>" src="<%= `/public/images/${product["name"].replaceAll(" ", "-").toLowerCase()}/thumb-${image}` %>">
                    </li>
                <% }) %>
            </ul>
            <hr class="vertical-bars" width="1" size="500" style="margin: 0;border: 0; border-left: 2px solid black;"/>
            <div id="hero-image-container">
                <div id="carousel-number">
                    1/<%= images.length %>
                </div>
                <div id="hero-image-holder">
                    <% images.forEach(function(image, index){ %>
                        <img class="hero-image <%= index === 0 ? 'active' : '1'  %>"  fetchpriority="<%= index === 0 ? 'high' : 'low'  %>" src="<%= `/public/images/${product["name"].replaceAll(" ", "-").toLowerCase()}/${image}` %>">
                    <% }) %>
                </div>
                
                <button id="carousel-left-button" class="button">
                    <i class="fa-solid fa-angle-left"></i>
                </button>
                <button id="carousel-right-button" class="button">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
            <hr class="small-element">
            <hr class="vertical-bars" width="1" size="500" style="margin: 0;border: 0; border-left: 2px solid black;" />
            <div id="important-info">
                <h1 id="product-name">ROBOX 1.0 KIT</h1>
                <p id="price">$229.00</p>
                <p id="status">Available now</p>
                <div id="cart-quantity-button">
                    <button id="decrease-cart-button" class="button">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                    <input type="number" min="1" value="1" placeholder="1" oninput="this.value = Math.abs(this.value)" id="cart-quantity">
                        
                    </input>
                    <button id="increase-cart-button" class="button">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <button class="button" id="add-to-cart">
                    Add to Cart
                </button>
                <p class="warning">
                    Warning! Small parts. This product is not suitable for children under 3
                </p>
                <hr>
                <div class="further-info">
                    <i class="fa-solid fa-truck-fast"></i>
                    <h5>Deliveries and Returns</h5>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <hr>
                <div class="further-info">
                    <i class="fa-solid fa-book-open"></i>
                    <h5>Building Instructions</h5>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                

            </div>
        </div>
        <div>
            <h1>
                Features
            </h1>
            <%~ description %>
        </div>
        

    </div>

</body>
<script>
    const productName = document.querySelector("#product-name")
    productName.textContent = currentProduct["name"].toUpperCase()
    const productPrice = document.getElementById("price")
    productPrice.textContent = `$${currentProduct["price"]}`
    const imageCarousel = document.querySelector("#image-carousel")
    
</script>
</html>